body,
html {
    margin: 0px;
    padding: 0;
}


body {
    background-color: rgb(77, 182, 201);
}

a {
    background-color: rgb(44, 142, 228);
}

/* 
.Si {
    background-color: rgb(57, 131, 196);
} */

#No {
    background-color: rgb(0, 136, 255);
}



p strong {
    background-color: rgb(255, 255, 255);
}


h1,
h2,
h3 {
    color: rgb(0, 0, 255);
    width: 800px;
}

h1 {
    /* background-color: rgb(255, 255, 255); */
    width: 500px;
    min-width: 10px;
    height: 50px;
    overflow: hidden;
    margin: 100px 100px 100px 100px;
    padding: 100px 100px 100px 100px;
    border: solid;
    border-color: rgb(0, 135, 253);
    border-width: 5px;
    border-radius: 50px;
    background-image: url(./assets/Gatto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}


.roboto-flex-100 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}



.gravitas {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}
